<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<body>

<header class="image-bg-fluid-height">
  <img class="img-responsive img-center" alt="">
  <img class="img-responsive img-center" alt="">
</header>

<script src="js/jquery.js"></script>

<script src="js/bootstrap.min.js"></script>

</body>